input[type="text"]:focus, input[type="datetime-local"]:focus, textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 6px rgba(76, 0, 255, 0.2);
}
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}
.group input[type="text"], .group input[type="datetime-local"], .group input[type="file"], textarea {
    width: 100%;
    padding: 10px 35px 10px 10px;
    border: 1px solid #ccd1d9;
    border-radius: 5px;
    font-size: 0.9em;
    color: #555;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    color: #2c3e50;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: 600;
}
textarea {
    resize: vertical;
    min-height: 100px;
}
input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
}
body {
    background-color: #eef1f5;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
.group {
    position: relative;
    margin-bottom: 14px;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #34495e;
    font-size: 1em;
}
.group {
    position: relative;
    margin-bottom: 14px;
}

.group input[type="file"]::file-selector-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 0.9em;
    cursor: pointer;
}
